.navbar-default .navbar-toggle .icon-bar{
	background-color:#C0C0C0;
}
.main-menu .navbar-default .navbar-nav .active a{
	color:#C0C0C0;
}
.main-menu nav li a::after {
    background:#C0C0C0;
}
.typer{
	color:#C0C0C0 !important;
}
.banner-text h2{
	color:#C0C0C0
}
.book-btn a{
	background:#C0C0C0;
	border: 3px solid#C0C0C0;
}
.book-btn a:hover{
	border: 3px solid #c9c9c9;
}
.hvr-underline-from-center::before{
	background: #C3C3C3;
}
.block-title{
	color:#C0C0C0 !important;
}
.item-type-zoom .item-hover:hover::before{
	background: #C2C2C288;
}
.special-box .owl-theme .owl-controls .owl-page.active span{
	background:#C0C0C0;
}
.offer-item div h3{
	color:#C0C0C0;
}
.tab-menu .is-active{
	background:#C0C0C0;
}
.tab-menu .slick-arrow.slick-prev{
	background:#C0C0C0 url(../../images/back.png) no-repeat center;
	background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next{
	background:#C0C0C0 url(../../images/next.png) no-repeat center;
	background-position: 7px 4px;
}

.tab-menu .slick-arrow.slick-prev:hover{
	background:#C3C3C3 url(../../images/back_hover.png) no-repeat center;
	background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next:hover{
	background:#C3C3C3 url(../../images/next_hover.png) no-repeat center;
	background-position: 7px 4px;
}

.offer-item .offer-price{
	border: 1px solid#C0C0C0;
}
.sf-team:hover .text-col{
	background-color:#C0C0C0;
}
.gal-item a::after{
	background-color:  #C2C2C288;
}
.overlay i:hover{
	border: 1px solid#C0C0C0;
	color:#C0C0C0;
}
.blog-btn-v a{
	background:#C0C0C0;
	border: 3px solid#C0C0C0;
}
.blog-btn-v a:hover{
	border: 3px solid #C8C8C8;
}
.book-srv a{
	background:#C0C0C0;
	border: 3px solid#C0C0C0;
}
.book-srv a:hover{
	border: 3px solid #C8C8C8;
}
.reserve-book-btn button{
	background:#C0C0C0;
	border: 3px solid#C0C0C0;
}
.reserve-book-btn button:hover a{
	color:#000000;
}
.reserve-book-btn button:hover {
	border: 3px solid #C8C8C8;
}


.panel-pricing .panel-heading{
	background:#C0C0C0;
}
.panel-pricing{
	border: 1px solid#C0C0C0;
}
.panel-body p strong span{
	color:#C0C0C0;
}
.pricing-main .panel-footer a{
	background:#C0C0C0;
	border: 3px solid#C0C0C0;
}
.pricing-main .panel-footer a:hover{
	border: 3px solid #C8C8C8;
}


.footer-news form a{
	background:#C0C0C0;
}
.footer-news form a:hover{
	border: 2px dotted#C0C0C0;
}
.footer-box-a h3{
	color:#C0C0C0;
}
.footer-box-b h3{
	color:#C0C0C0;
}
.footer-box-c h3{
	color:#C0C0C0;
}
.footer-box-d h3{
	color:#C0C0C0;
}
.footer-box-c p a:hover{
	color:#C0C0C0;
}
.footer-box-b ul li a:hover{
	color:#C0C0C0;
}
.footer-box .socials-box a:hover .social-circle-border{
	color:#C0C0C0;
}
.footer-box-c p i{
	color:#C0C0C0;
}

.copyright-main{
	background:#C0C0C0;
}

#color-panel a.panel-button:hover{
	color:#C0C0C0;		
}